@font-face {
  font-family: shanghai;
  src: url(../fonts/shanghai.ttf);
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// 10px gutter
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}


.menu {
  padding: 0;
  overflow: hidden;
  height: calc(100vh - 81px);
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;

  .menu-row {
    margin: 0;
    height: calc(100vh - 81px);
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
  }

  /*  bhoechie tab */
  .bhoechie-tab-container{
    display: flex;
    padding: 0;
    overflow: hidden;
    height: calc(100vh - 81px);
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;

    .bhoechie-tab-menu {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
      overflow: auto;
      height: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .list-group{
        margin-bottom: 0;
        height: 1270px;

        .list-group-item {
          height: 100px;

          .fa {
            color: #5A55A3;

            &:active {
              color: #ffffff;
            }
          }

          .glyphicon {
            color: #5A55A3;
          }


          &.active {
            background-color: black !important;
            background-image: #5A55A3 !important;
            color: #ffffff !important;
            border-color: black;
          }

          &.active:after {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            margin-top: -13px;
          }

          &.active.glyphicon {
            color: #ffffff;
          }

          &:first-child{
            border-top-right-radius: 0 !important;
            -moz-border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            -moz-border-top-left-radius: 0 !important;
          }

          &:last-child {
            border-bottom-right-radius: 0 !important;
            -moz-border-bottom-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            -moz-border-top-left-radius: 0 !important;
          }
        }
      }
    } // end tabs

    .bhoechie-tab {
      overflow: auto;
      height: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      padding: 0;

      .bhoechie-tab-content{
        background-color: #ffffff;
        /* border: 1px solid #eeeeee; */
        //padding-left: 20px;

        &.active {
          overflow: auto;
          height: auto;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: none;
        }

        &:not(.active) {
          display: none;
        }

        h3 {
          margin-top: .5em;
          margin-bottom: .7em;
          text-align: center;
          font-family: shanghai;
          color: #55518a;
          font-size: 3em;
        }

        .menu-items {
          margin-left: 2em;
          margin-right: 2em;

          .title-col {
            padding: 0;
            padding-left: 1em;

            .title {

            }
          }

          .price-col {

            .price {
              text-align: right;
            }
          }
        }

        .menu-pic {
          width: 100%;
          height: 200px;
          margin-bottom: 2em;
        }

        #lunch-specials-pic {
          background: url('../img/sushi-2.jpg') no-repeat center center fixed;
          background-size:cover;
        }

        #appetizers-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }

        #soups-salads-pic {
          background: url('../img/soup.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #dinner-entrees-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #signature-dishes-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #rice-dishes-pic {
          background: url('../img/rice.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #nigiri-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #sashimi-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #sushi-combos-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #small-rolls-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #chef-special-rolls-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #side-dishes-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #sushi-rolls-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #sweet-treats-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #teriyaki-combos-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }
        #katsu-pic {
          background: url('../img/sushi.jpg') no-repeat center center fixed;
          background-size:cover;
        }


      }


    }

  }

}
