@font-face {
  font-family: shanghai;
  src: url(../fonts/shanghai.ttf); }

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px; }

.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px; }

.btn-primary {
  background: none;
  padding: 12px 22px;
  border: 2px solid white;
  border-radius: 0;
  color: white; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: gray;
    border-color: gray;
    background: none; }

.btn-default {
  background: none;
  padding: 12px 22px;
  border: 2px solid black;
  border-radius: 0;
  color: black; }
  .btn-default:hover, .btn-default:focus, .btn-default:active {
    color: gray;
    border-color: gray;
    background: none; }

.container-fluid {
  padding: 0;
  height: 100%; }

.jumbo {
  width: 100%;
  height: 500px;
  margin-bottom: 0;
  padding: 0;
  overflow: auto;
  background: url("../img/sushi-bar.JPG") no-repeat center center fixed;
  background-size: cover; }

.specials-etc {
  padding: 1em; }
  .specials-etc .whats-new {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 200px;
    padding: 0;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 2.5em; }
    .specials-etc .whats-new h1 {
      font-family: shanghai; }
  .specials-etc .call-to-action {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 270px;
    margin-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em; }
    .specials-etc .call-to-action:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .specials-etc .call-to-action h1 {
      font-family: shanghai; }
    .specials-etc .call-to-action p {
      font-size: 1.4em; }
    .specials-etc .call-to-action .btn {
      margin-top: 1em;
      position: relative;
      left: 50%;
      transform: translateX(-50%); }

.contact {
  background: url("../img/sushi-bar.JPG") no-repeat center center fixed;
  background-size: cover;
  color: white;
  padding: 0;
  height: 650px; }
  .contact .map-col {
    height: 100%; }
  .contact #fuji-panel {
    color: black;
    position: absolute;
    width: 45%;
    top: 0px;
    /*left: 5%;*/
    margin-top: 1.5em;
    margin-left: 1.5em;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px; }
    .contact #fuji-panel h1 {
      font-size: 2.5em; }
    .contact #fuji-panel #address {
      font-weight: normal;
      font-size: 1.2em; }
    .contact #fuji-panel .rating-row {
      margin: 0; }
      .contact #fuji-panel .rating-row [class^="col-"] {
        padding: 0; }
        .contact #fuji-panel .rating-row [class^="col-"] p {
          font-size: 1.5em; }
          .contact #fuji-panel .rating-row [class^="col-"] p span {
            font-weight: normal; }
        .contact #fuji-panel .rating-row [class^="col-"] .star-ratings-css {
          unicode-bidi: bidi-override;
          color: #c5c5c5;
          font-size: 25px;
          height: 25px;
          width: 130px;
          position: relative;
          padding: 0;
          text-shadow: 0px 1px 0 #a2a2a2; }
          .contact #fuji-panel .rating-row [class^="col-"] .star-ratings-css-top {
            color: #e7711b;
            padding: 0;
            position: absolute;
            z-index: 1;
            display: block;
            top: 0;
            left: 0;
            overflow: hidden; }
          .contact #fuji-panel .rating-row [class^="col-"] .star-ratings-css-bottom {
            padding: 0;
            display: block;
            z-index: 0; }
  .contact #map {
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .contact .contact-row {
    height: 100%;
    margin: 0; }
    .contact .contact-row .contact-col {
      height: 100%; }
  .contact .contact-container {
    background: rgba(128, 128, 128, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 95%;
    padding: 1.5em; }
  .contact h5 {
    font-size: 1.5em; }
  .contact p span {
    font-weight: bold; }
