body, html {
  margin: 0;
  overflow: hidden;
  height: 100%; }

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px; }

.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px; }

.navbar {
  margin-bottom: 0; }
  .navbar .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0; }
  .navbar .navbar-brand {
    height: 80px;
    padding: 0px; }
    .navbar .navbar-brand img {
      height: 100%;
      padding: 15px;
      width: auto; }
  .navbar .nav li a {
    padding-top: 30px;
    padding-bottom: 30px; }

.menu {
  padding: 0;
  /*  bhoechie tab */ }
  .menu .row {
    margin: 0; }
  .menu .bhoechie-tab-container {
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97); }
    .menu .bhoechie-tab-container .bhoechie-tab-menu {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden; }
      .menu .bhoechie-tab-container .bhoechie-tab-menu::-webkit-scrollbar {
        display: none; }
      .menu .bhoechie-tab-container .bhoechie-tab-menu .list-group {
        margin-bottom: 0;
        height: 1270px; }
        .menu .bhoechie-tab-container .bhoechie-tab-menu .list-group .list-group-item {
          height: 100px; }
          .menu .bhoechie-tab-container .bhoechie-tab-menu .list-group .list-group-item .fa {
            color: #5A55A3; }
            .menu .bhoechie-tab-container .bhoechie-tab-menu .list-group .list-group-item .fa:active {
              color: #ffffff; }
          .menu .bhoechie-tab-container .bhoechie-tab-menu .list-group .list-group-item .glyphicon {
            color: #5A55A3; }
          .menu .bhoechie-tab-container .bhoechie-tab-menu .list-group .list-group-item.active {
            background-color: black !important;
            background-image: #5A55A3 !important;
            color: #ffffff !important;
            border-color: black; }
          .menu .bhoechie-tab-container .bhoechie-tab-menu .list-group .list-group-item.active:after {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            margin-top: -13px; }
          .menu .bhoechie-tab-container .bhoechie-tab-menu .list-group .list-group-item.active.glyphicon {
            color: #ffffff; }
          .menu .bhoechie-tab-container .bhoechie-tab-menu .list-group .list-group-item:first-child {
            border-top-right-radius: 0 !important;
            -moz-border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            -moz-border-top-left-radius: 0 !important; }
          .menu .bhoechie-tab-container .bhoechie-tab-menu .list-group .list-group-item:last-child {
            border-bottom-right-radius: 0 !important;
            -moz-border-bottom-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
            -moz-border-top-left-radius: 0 !important; }
    .menu .bhoechie-tab-container .bhoechie-tab-content {
      background-color: #ffffff;
      /* border: 1px solid #eeeeee; */
      padding-left: 20px;
      padding-top: 10px;
      overflow-y: scroll; }
      .menu .bhoechie-tab-container .bhoechie-tab-content:not(.active) {
        display: none; }
